{% extends "layout.twig" %}

{% block title %} Detalles de canción {% endblock %}

{% block main_container %}
    <div class="row">
        <div class="medial col-xs-10">
            <div class="media-left media-middle">
                <img class="media-object" src="/covers/{{ song._id }}.png">
            </div>
            <div class="media-body">
                <h2>{{ song.title }}</h2>
                <p>{{ song.author }}</p>
                <p>{{ song.kind }}</p>

                {% if canBuy %}
                    <a class="btn btn-primary pull-right"
                       href="/songs/buy/{{ song._id }}">{{ song.price }} € - {{ song.usd }} $</a>
                {% else %}
                    <audio controls>
                        <source src="/audios/{{ song._id }}.mp3" type="audio/mpeg">
                    </audio>
                {% endif %}
            </div>
        </div>
    </div>


    <h2>Comentarios</h2>
    {% for comment in comments %}
        <div >
            <img src="/images/user.png" alt="pfp"/>
            <h5>{{ comment.author }}</h5>
            <h4>{{comment.text}}</h4>
        </div>
    {% endfor %}

    <form class="form-horizontal" method="post" action="/comments/{{ song._id }}">
        <h3>Añadir comentario</h3>
        <div class="form-group">
            <label class="control-label col-sm-2" for="comment">Comentario: </label>
            <div class="col-sm-10">
                <input id="comment" type="text" class="form-control" name="comment"
                       placeholder="Escribe aquí tu comentario" required="true" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>

{% endblock %}